.card {
    background: var(--card-bg);
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    width: 70vw;
    margin-bottom: 25px;
    border: 1px solid var(--border-color);
}

.reporte-card {
    padding: 18px;
    border-radius: 8px;
    margin-bottom: 12px;
    background: #fff;
    border: 1px solid var(--border-color);
    border-left: 5px solid #747d8c;
    width: 100%;
    overflow-wrap: break-word;
    white-space: normal;
}

.AREA_CARD {
    background: var(--background-color);
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    word-break: break-word;
    white-space: normal;
    position: relative;
    height: 8vh;
}